/* Headings */
h1, h2 {
  font-family: 'Muli', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #000;
}
section h1 {
  font-size: 1.85rem;
}
h3, h4, h5 {
  font-weight: 700;
}
h6 {
  font-weight: 600;
}