/**
* Variables
*/

//Layout/widths
$max-width: 1200px;
$mobileNavHeight: 70px;

//Breakpoints
$sm: 600px;
$md: 768px;
$lg: 1000px;
$xl: $max-width;

//Typography
$body-bg: #ffffff;
$body-color: #222222;
$link: #e1e1e1;
$link-hover: #d1d1d1;
$white : #fff;

//$baseFontSize : 16;
$base-font-size: 18;

$header-font: 'bebasNeueBold', Helvetica, Arial, sans-serif;
$body-font: 'bebasNeueRegular', Helvetica, Arial, sans-serif;
$light-font: 'bebasNeueLight', Helvetica, Arial, sans-serif;
$book-font: 'bebasNeueBook', Helvetica, Arial, sans-serif;
$script-font: 'Permanent Marker', cursive;

//Color Scheme
$theme-colors : (
  'white': #fff,
  'black': #000,
  'test': #9C9C9C
);

//Nav
$bar-width: 50px;
$bar-height: 6px;
$bar-spacing: 12px;
