@use "functions";
@use "vars";

/* Nav */

.skip-link {
  opacity: 0;
  position: absolute;
  z-index: 1;

  &:focus {
    background-color: #fff;
    color: #000;
    left: 1rem;
    opacity: 1;
    padding: 0.75rem;
    z-index: 50;
  }
}

body.active-mobile-nav {
  @media screen and (max-width: vars.$md) {
    height: 100vh;
    overflow: hidden;
  }
}

.mobile-logo {
  @media screen and (min-width: vars.$md) {
    display: none;
  }
}

@keyframes colorchange {
  0% {
    background: purple;
  }
  15% {
    background: purple;
  }
  25% {
    background: red;
  }
  40% {
    background: red;
  }
  50% {
    background: gold;
  }
  65% {
    background: gold;
  }
  75% {
    background: blue;
  }
  90% {
    background: blue;
  }
  100% {
    background: purple;
  }
}

@keyframes nav-display {
  0% {
    opacity: 0;
    height: 0;
    display: none;
  }
  100% {
    opacity: 1;
    height: calc(100vh - #{vars.$mobileNavHeight});
  }
}
@keyframes nav-hide {
  0% {
    opacity: 1;
    height: calc(100vh - #{vars.$mobileNavHeight});
  }
  100% {
    opacity: 0;
    height: 0;
    display: none;
  }
}

header {
  align-items: center;
  background-color: #d1ad1a;
  background-image: url("/map_bg.webp");
  background-position: center center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 570px;
  position: relative;
  width: 100%;
  z-index: 1;

  .wrap {
    position: relative;
    z-index: 5;
  }

  &:before {
    animation: colorchange 60s;
    position: absolute;
    background-color: purple;
    content: "";
    z-index: 2;
    height: 100%;
    opacity: 0.75;
    width: 100%;
  }

  &:after {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    content: "";
    height: 320px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  body.active-mobile-nav & {
    @media screen and (max-width: vars.$md) {
      z-index: 7;
    }
  }
}

.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  position: absolute;
  top: 1rem;
  width: 100%;
  z-index: 10;
  @media screen and (min-width: vars.$md) {
    display: block;
    width: 100%;
    z-index: 4;
  }

  ul {
    @media screen and (max-width: vars.$md) {
      animation: nav-hide 3s;
      background-color: rgba(0, 0, 0, 0.9);
      display: none;
      flex-direction: column;
      flex: 0 1 100%;
      height: 0;
      margin-top: 0.5em;
      opacity: 0;
      padding-left: 0;
      transition: 0.3s ease all;
      z-index: 9999 !important;
    }

    &.active-nav {
      @media screen and (max-width: vars.$md) {
        animation: nav-display 1.2s;
        display: flex;
        height: calc(100vh - #{vars.$mobileNavHeight});
        opacity: 1;
        transition: 0.3s ease all;
      }
    }

    @media screen and (min-width: vars.$md) {
      align-items: center;
      display: flex;
      height: auto;
      justify-items: center;
      list-style: none;
      margin: 0 auto;
      max-width: vars.$max-width * 0.75;
      padding: 0;
      width: 100%;
    }
  }

  li {
    font-family: vars.$header-font;
    list-style: none;
    margin: auto;
    padding: 0.25rem;
    width: auto;

    a {
      border-bottom: 1px solid transparent;
      color: vars.$white;
      font-family: vars.$header-font;
      font-size: functions.rem(22);
      scroll-behavior: smooth;
      text-decoration: none;
      transition: 0.3s ease all;

      &:hover,
      &:active {
        border-bottom: 1px solid #e1e1e1;
        color: #e1e1e1;
      }
    }

    @media screen and (max-width: vars.$md) {
      &:first-child {
        display: none;
        visibility: hidden;
      }
    }

    @media screen and (min-width: vars.$md) {
      &:nth-child(1) {
        order: 3;
      }
      &:nth-child(2) {
        order: 1;
      }
      &:nth-child(3) {
        order: 2;
      }
      &:nth-child(4) {
        order: 4;
      }
      &:nth-child(5) {
        order: 5;
      }
    }
  }
}

.mobile-logo {
  width: 10%;
  display: inline-block;
  margin-left: 2.5%;
  @media screen and (min-width: vars.$md) {
    display: none;
    visibility: hidden;
  }
}

.menu-toggle,
.menu-toggle:after,
.menu-toggle:before {
  height: var(--bar-height);
  width: var(--bar-width);
}

.menu-toggle {
  background: rgba(255, 255, 255, 1);
  position: relative;
  transform: translateY(var(--bar-spacing));
  cursor: pointer;
  margin-left: auto;
  margin-right: 2.5%;
  margin-top: 0.5em;
  transition: all 0ms 300ms;

  &.animate {
    background: rgba(255, 255, 255, 0);
  }

  @media screen and (min-width: vars.$md) {
    display: none;
    visibility: hidden;
  }
}

.menu-toggle:before {
  background: rgba(255, 255, 255, 1);
  bottom: var(--bar-spacing);
  content: "";
  left: 0;
  position: absolute;
  transition:
    bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-toggle:after {
  background: rgba(255, 255, 255, 1);
  content: "";
  left: 0;
  position: absolute;
  top: var(--bar-spacing);
  transition:
    top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-toggle.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition:
    top 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-toggle.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition:
    bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.intro {
  font-family: vars.$book-font;
  font-size: functions.rem(16);
  margin: 0 auto;
  max-width: 70rem;
  position: relative;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
  z-index: 8;

  @media screen and (min-width: 720px) {
    font-size: functions.rem(32);
  }

  h1 {
    color: #fff;
    font-size: 11vw;
    font-size: functions.rem(35);
    line-height: 0.85em;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;

    @media screen and (min-width: 720px) {
      font-size: functions.rem(85);
    }

    span {
      font-family: vars.$script-font;
      font-size: 12vw;
      font-size: functions.rem(32);
      left: calc(50% - 1em);
      position: absolute;
      text-shadow: 0 0 15px rgba(0, 0, 0, 0.85);
      top: -0.85em;
      transform: rotate(-10deg);

      @media screen and (min-width: 720px) {
        top: -1.25em;
        font-size: functions.rem(48);
      }
    }
  }
  p {
    margin: 0;
  }
}

.year-nav {
  background-color: #000;
  width: 100%;
}

.year-nav ul {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 0 auto 1rem auto;
  max-width: 1000px;
  padding: 0.75rem 0;
}

.year-nav li {
  list-style-type: none;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
}

.year-nav a {
  color: #fff;
  display: block;
  text-align: center;
}

.year-nav img {
  margin: 0;
  max-width: 1.25rem;
}

p small {
  color: rgba(0, 0, 0, 0.35);
}
